:root {
    --background-color: #fbeccf;
    --primary-font: 'Roboto', sans-serif;
    --header-font-size: 21px;
    --text-font-weight: 800;
    --box-shadow: 5px 5px 5px #666666;
    --hover-background: #cccccc;
}
/* Для   с шириной экрана от 1024px */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .wardrobe-container{
        width: 960px;
    }
}

/* Для   с шириной экрана от 768px до 1023px */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .wardrobe-container{
        width: 700px;
    }
    .item {
        width: 55px;
        height: 55px;
        border-radius: 15px;
    }
    .item img {
        width: 50px;
        height: 50px;
        border-radius: 15px;
    }
}

/* Для устройств с шириной экрана от 430px до 767px */
@media screen and (min-width: 430px) and (max-width: 767px){
    .wardrobe-container{
        width: 700px;
        flex-direction: column;
    }
}

/* Для устройств с шириной экрана от 375px до 429px */
@media screen and (min-width: 375px) and (max-width: 429px){
    .first-screen-container{
        text-align: center;
    }
    .first-screen-container header{
        padding-bottom: 20px;
    }
    .first-screen-container header h1{
        font-size: 32px;
    }
    .first-screen-container header p{
        margin: auto;
        width: 195px;
        font-size: 14px;
        word-wrap: break-word;
    }
    .first-screen-container .carousel{
        width: 280px;
        height: 317px;
    }
    .first-screen-container .carousel img{
        width: 280px;
        height: 317px;
    }
    .first-screen-container .links-text p{
        font-size: 16px;
    }
    section.wardrobe{
        margin-bottom: 50px;
    }
    .wardrobe-container {
        width: 390px;
        flex-direction: column;
    }
    #download-btn{
        width: 150px;
        border-radius: 10px;
        font-size: 13px;
    }
    .item {
        width: 45px;
        height: 45px;
        border-radius: 10px;
    }
    .item img {
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }
    .images{
        display: none;
    }
    section.carousel-mobile{
        display: block;
        height: 370px;
        width: 280px;
        margin: auto;
        margin-bottom: 30px;
    }
    section.carousel-mobile .carousel.slide{
        width: 280px;
        height: 370px;
        position: absolute;
    }
    .carousel-item img{
        width: 280px;
        height: 370px;
    }
    .carousel-control-prev {
        position: relative;  
        top: 50%;
        left: 0;
    }
    .carousel-control-next {
        position: relative;
        top: 50%;
        right: 0;
    }
}

/* Для устройств с шириной экрана до 374px и менее */
@media screen and (max-width: 374px) {
    .first-screen-container{
        text-align: center;
    }
    .first-screen-container header{
        padding-bottom: 20px;
    }
    .first-screen-container header h1{
        font-size: 32px;
    }
    .first-screen-container header p{
        margin: auto;
        width: 195px;
        font-size: 14px;
        word-wrap: break-word;
    }
    .first-screen-container .carousel{
        width: 220px;
        height: 267px;
    }
    .first-screen-container .carousel img{
        width: 220px;
        height: 267px;
    }
    .first-screen-container .links-text p{
        font-size: 16px;
    }
    section.wardrobe{
        margin-bottom: 50px;
    }
    .wardrobe-container {
        width: 320px;
        flex-direction: column;
    }
    #download-btn{
        width: 150px;
        border-radius: 10px;
        font-size: 13px;
    }
    .item {
        width: 45px;
        height: 45px;
        border-radius: 10px;
    }
    .item img {
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }
    .images{
        display: none;
    }
    section.carousel-mobile{
        display: block;
        width: 220px;
        height: 310px;
        margin: auto;
    }
    section.carousel-mobile .carousel.slide{
        width: 220px;
        height: 310px;
        position: absolute;
    }
    .carousel-item img{
        width: 220px;
        height: 310px;
    }
}
